body{
    background-color: black;

}
h1{
    text-transform: uppercase;
    font-family: Libre Baskerville;
    font-size: 3rem;
}

.poster{
    text-align: center;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    width: 50%;

}

.motivation-img{
    border: 5px solid white;
    width: 100%;
}
